In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
import os
entries = os.listdir('train/')

for file in entries:
    if '.csv' in file:
        print(file)

Third_Health_Camp_Attended.csv
Health_Camp_Detail.csv
Second_Health_Camp_Attended.csv
First_Health_Camp_Attended.csv
Train.csv
Patient_Profile.csv

In [35]:
train = pd.read_csv(r'Train/Train.csv')
Patient_Profile = pd.read_csv(r'Train/Patient_Profile.csv')
Health_Camp_Detail = pd.read_csv(r'Train/Health_Camp_Detail.csv')
First_Health_Camp = pd.read_csv(r'Train/First_Health_Camp_Attended.csv')
Second_Health_Camp = pd.read_csv(r'Train/Second_Health_Camp_Attended.csv')
Third_Health_Camp = pd.read_csv(r'Train/Third_Health_Camp_Attended.csv')
test = pd.read_csv('test.csv')

In [36]:
print(train.shape)
train.head()

(75278, 8)

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [31]:
print(Patient_Profile.shape)
Patient_Profile.head()

(37633, 11)

,Patient_ID,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,516956,0,0,0,0,1,90,39,18-Jun-03,NaN,Software Industry
1,507733,0,0,0,0,1,None,40,20-Jul-03,H,Software Industry
2,508307,0,0,0,0,3,87,46,02-Nov-02,D,BFSI
3,512612,0,0,0,0,1,75,47,02-Nov-02,D,Education
4,521075,0,0,0,0,3,None,80,24-Nov-02,H,Others

In [30]:
print(Health_Camp_Detail.shape)
Health_Camp_Detail.head()

(65, 6)

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [29]:
print(Second_Health_Camp.shape)
Second_Health_Camp.head()

(7819, 3)

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [37]:
print(First_Health_Camp.shape)
First_Health_Camp.head()

(6218, 4)

   Patient_ID  Health_Camp_ID  Donation  Health_Score
0      506181            6560        40      0.439024
1      494977            6560        20      0.097561
2      518680            6560        10      0.048780
3      509916            6560        30      0.634146
4      488006            6560        20      0.024390

In [27]:
print(Third_Health_Camp.shape)
Third_Health_Camp.head()

(6515, 4)

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1
3,493167,6527,4,4
4,510954,6528,2,2

In [34]:
print(test.shape)
test.head()

(35249, 8)

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0
3      497447            6551         27-Aug-06     0     0     0     0     0
4      496446            6533         19-Sep-06     0     0     0     0     0

In [44]:
print("Total patients: ", Patient_Profile['Patient_ID'].nunique())
print("patient in training dataset: ", train['Patient_ID'].nunique())
print("patient in test dataset: ", test['Patient_ID'].nunique())

Total patients:  37633
patient in training dataset:  29828
patient in test dataset:  15324

In [46]:
train.merge(Patient_Profile,how = 'inner')

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,489652,6578,10-Sep-05,4,0,0,0,2,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
1,489652,6532,15-Mar-05,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
2,489652,6543,26-Nov-05,4,0,0,0,2,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
3,489652,6580,18-Dec-04,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
4,489652,6570,01-May-05,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
5,489652,6542,01-May-05,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
6,489652,6571,11-Aug-05,4,0,0,0,2,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
7,489652,6527,08-May-05,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
8,489652,6526,30-Dec-04,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
9,489652,6539,06-Dec-04,0,0,0,0,0,0,0,0,0,None,None,None,06-Dec-04,NaN,NaN
10,507246,6578,18-Aug-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
11,507246,6528,20-Feb-06,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
12,507246,6580,19-Oct-04,36,4,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
13,507246,6555,18-Aug-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
14,507246,6527,15-Jun-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
15,507246,6539,29-Sep-04,12,1,0,0,5,0,0,0,0,1,75,40,08-Sep-04,C,Others
16,507246,6541,15-Dec-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
17,507246,6523,02-Mar-05,40,4,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
18,507246,6538,28-Oct-04,0,0,0,0,0,0,0,0,0,1,75,40,08-Sep-04,C,Others
19,507246,6549,23-Jun-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
20,507246,6543,29-Sep-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
21,507246,6586,03-Oct-04,19,3,0,0,6,0,0,0,0,1,75,40,08-Sep-04,C,Others
22,507246,6554,14-May-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
23,507246,6529,20-Feb-06,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
24,507246,6526,31-Oct-04,36,4,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
25,507246,6540,14-Oct-04,34,4,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
26,507246,6570,23-Apr-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
27,507246,6571,18-Aug-05,45,5,0,0,7,0,0,0,0,1,75,40,08-Sep-04,C,Others
28,523729,6534,29-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,22-Jun-04,NaN,NaN
29,523729,6538,22-Jun-04,0,0,0,0,0,0,0,0,0,None,None,None,22-Jun-04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75248,486292,6537,13-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,28-May-06,D,NaN
75249,512112,6537,04-May-06,0,0,0,0,0,0,0,0,0,1,None,77,23-Apr-06,A,NaN
75250,515296,6543,14-Feb-06,3,0,0,0,0,0,0,0,0,None,None,None,03-Feb-06,NaN,NaN
75251,508537,6529,26-Feb-06,0,0,0,0,0,0,0,0,0,None,None,None,18-Feb-06,NaN,NaN
75252,527861,6543,14-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,30-Jul-06,NaN,NaN
75253,502407,6534,27-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,06-Sep-06,NaN,NaN
75254,512387,6527,26-Jun-05,0,0,0,0,0,0,0,0,0,None,None,None,18-Feb-05,NaN,NaN
75255,505949,6537,02-Sep-06,0,0,0,0,0,0,0,0,0,None,None,None,07-Aug-06,F,NaN
75256,498020,6537,23-Jun-06,0,0,0,0,0,0,0,0,0,None,None,None,11-May-06,B,NaN
75257,527606,6543,11-Sep-06,0,0,0,0,0,0,0,0,0,None,None,None,04-Sep-06,NaN,NaN
75258,501571,6536,13-Feb-05,0,0,0,0,0,1,0,0,0,2,None,47,15-Jan-05,C,Health
75259,494084,6543,14-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,02-Oct-06,A,NaN
75260,500780,6541,18-Dec-05,0,0,0,0,0,1,0,1,1,0,None,42,22-Nov-05,D,Broadcasting
75261,527364,6537,17-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,04-Aug-06,D,NaN
75262,503902,6562,25-Feb-05,0,0,0,0,0,0,0,0,0,None,None,None,07-Feb-05,NaN,NaN
75263,520447,6535,31-Jan-04,0,0,0,0,0,1,0,1,1,3,None,41,18-Jan-04,E,Consulting
75264,525381,6537,24-Jan-07,0,0,0,0,0,0,0,0,0,None,None,None,07-Jan-07,B,NaN
75265,500967,6569,20-Sep-04,0,0,0,0,0,0,0,0,0,None,None,None,30-Aug-04,NaN,NaN
75266,509369,6543,12-Jun-06,0,0,0,0,0,0,0,0,0,None,None,None,23-Feb-03,A,NaN
75267,503823,6529,02-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,25-Mar-06,NaN,NaN
75268,523944,6534,30-Dec-05,0,0,0,0,0,0,0,0,0,None,None,None,20-Dec-05,NaN,NaN
75269,488436,6534,26-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,15-Jul-06,A,NaN
75270,508729,6543,11-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,03-Nov-06,NaN,NaN
75271,506820,6534,11-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,03-Jul-06,A,NaN
75272,522182,6562,11-Mar-05,0,0,0,0,0,0,0,0,0,0,None,43,02-Mar-05,F,NaN
75273,489743,6538,31-Jul-04,0,0,0,0,0,0,0,0,0,None,None,None,15-Jul-04,NaN,NaN
75274,514807,6528,24-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,24-Mar-06,A,NaN
75275,522897,6529,28-Mar-06,0,0,0,0,0,0,0,0,0,None,None,None,18-Mar-06,NaN,NaN
75276,527548,6529,03-Mar-06,0,0,0,0,0,0,0,0,0,None,None,None,18-Feb-06,NaN,NaN
75277,504873,6543,13-Jun-06,0,0,0,0,0,0,0,0,0,None,None,None,03-Jun-06,D,NaN

In [50]:
test.merge(Patient_Profile,how = 'inner',on = 'Patient_ID')

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,505701,6548,21-May-06,1,0,0,0,2,0,0,0,0,0,None,44,05-Feb-03,E,NaN
1,505701,6582,06-Apr-06,1,0,0,0,2,0,0,0,0,0,None,44,05-Feb-03,E,NaN
2,505701,6556,09-Sep-06,1,0,0,0,2,0,0,0,0,0,None,44,05-Feb-03,E,NaN
3,505701,6566,15-Feb-06,1,0,0,0,2,0,0,0,0,0,None,44,05-Feb-03,E,NaN
4,505701,6567,04-Jan-07,1,0,0,0,2,0,0,0,0,0,None,44,05-Feb-03,E,NaN
5,500633,6584,02-Jun-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
6,500633,6566,22-Apr-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
7,500633,6583,06-Jun-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
8,500633,6559,12-Dec-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
9,500633,6567,12-Dec-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
10,500633,6576,20-Sep-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
11,500633,6574,02-Jun-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
12,500633,6533,18-Sep-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
13,500633,6548,06-Jun-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
14,500633,6556,24-Aug-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
15,500633,6579,06-Aug-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
16,500633,6582,18-Sep-06,0,0,0,0,0,0,1,0,0,1,67,41,11-Dec-04,D,Consulting
17,506945,6582,10-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
18,506945,6576,22-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
19,506945,6579,08-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
20,506945,6550,22-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
21,506945,6584,19-Jul-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
22,506945,6574,19-Jul-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
23,506945,6573,22-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,19-Apr-06,NaN,NaN
24,497447,6551,27-Aug-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
25,497447,6579,27-Aug-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
26,497447,6568,25-Aug-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
27,497447,6556,27-Aug-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
28,497447,6576,09-Oct-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
29,497447,6582,15-Nov-06,0,0,0,0,0,0,0,0,0,0,None,47,25-Aug-06,B,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35219,494683,6566,05-Mar-06,0,0,0,0,0,0,0,0,0,None,None,None,10-Jan-05,A,NaN
35220,491752,6548,23-Jun-06,3,0,0,0,1,0,0,0,0,4,68,44,24-Sep-04,I,Education
35221,527453,6566,24-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,15-Apr-06,NaN,NaN
35222,505783,6566,07-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,05-Jun-05,C,NaN
35223,526857,6566,23-Apr-06,2,2,0,0,0,0,0,0,0,0,None,39,10-Sep-04,E,NaN
35224,501203,6550,22-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,10-Nov-06,NaN,NaN
35225,524898,6550,06-Oct-06,0,0,0,0,0,0,0,0,0,None,None,None,13-Jun-06,NaN,NaN
35226,488801,6584,04-Jun-06,0,0,0,0,0,0,0,0,0,None,None,None,28-May-06,NaN,NaN
35227,524842,6582,12-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,30-Oct-06,F,NaN
35228,500653,6551,11-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,26-Sep-06,NaN,NaN
35229,526222,6548,20-Jun-06,0,0,0,0,0,0,0,0,0,None,None,None,01-Jun-06,F,NaN
35230,493438,6576,15-Oct-06,9,3,0,3,6,0,0,0,0,None,None,None,26-Jan-03,NaN,NaN
35231,520933,6551,29-Oct-06,1,0,0,0,0,0,0,0,0,None,None,None,03-Apr-03,I,NaN
35232,511159,6573,18-Dec-06,0,0,0,0,0,0,0,0,0,None,None,None,24-May-03,A,NaN
35233,516192,6574,15-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,30-Jul-06,D,NaN
35234,528444,6559,05-Jan-07,0,0,0,0,0,0,0,0,0,0,None,43,23-Feb-03,B,NaN
35235,489493,6567,11-Jan-07,0,0,0,0,0,0,0,0,0,None,None,None,14-Oct-04,E,NaN
35236,515883,6567,01-Feb-07,0,0,0,0,0,0,0,0,0,None,None,None,26-Jan-07,A,NaN
35237,506740,6583,01-Jul-06,3,0,0,0,1,0,0,0,0,None,None,None,02-Apr-03,NaN,NaN
35238,523502,6567,02-Feb-07,0,0,0,0,0,0,0,0,0,None,None,None,05-Feb-06,NaN,NaN
35239,495599,6579,23-Sep-06,0,0,0,0,0,0,0,0,0,None,None,None,17-Mar-06,B,NaN
35240,517857,6551,06-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,26-Nov-05,G,NaN
35241,494151,6579,05-Aug-06,0,0,0,0,0,0,0,0,0,None,None,None,04-Jun-05,NaN,NaN
35242,486197,6566,09-Mar-06,0,0,0,0,0,0,0,0,0,None,None,None,27-Feb-06,H,NaN
35243,524294,6548,01-Jul-06,0,0,0,0,0,0,0,1,0,0,None,39,04-May-05,F,NaN
35244,524218,6566,08-Apr-06,0,0,0,0,0,0,0,0,0,None,None,None,27-Jun-05,E,NaN
35245,516221,6573,21-Aug-06,0,0,0,0,0,0,0,0,0,0,None,67,14-Aug-06,H,NaN
35246,516681,6566,04-Mar-06,0,0,0,0,0,0,0,1,1,0,None,44,16-Jan-04,B,NaN
35247,504434,6550,17-Nov-06,0,0,0,0,0,0,0,0,0,None,None,None,17-Apr-05,NaN,NaN
35248,520172,6556,25-Sep-06,0,0,0,0,0,0,0,0,0,None,None,None,16-Aug-05,H,NaN

In [51]:
train.merge(test,how = 'inner', on = "Patient_ID")

,Patient_ID,Health_Camp_ID_x,Registration_Date_x,Var1_x,Var2_x,Var3_x,Var4_x,Var5_x,Health_Camp_ID_y,Registration_Date_y,Var1_y,Var2_y,Var3_y,Var4_y,Var5_y
0,489652,6578,10-Sep-05,4,0,0,0,2,6566,18-Apr-06,4,0,0,0,2
1,489652,6532,15-Mar-05,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
2,489652,6543,26-Nov-05,4,0,0,0,2,6566,18-Apr-06,4,0,0,0,2
3,489652,6580,18-Dec-04,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
4,489652,6570,01-May-05,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
5,489652,6542,01-May-05,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
6,489652,6571,11-Aug-05,4,0,0,0,2,6566,18-Apr-06,4,0,0,0,2
7,489652,6527,08-May-05,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
8,489652,6526,30-Dec-04,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
9,489652,6539,06-Dec-04,0,0,0,0,0,6566,18-Apr-06,4,0,0,0,2
10,507246,6578,18-Aug-05,45,5,0,0,7,6584,26-Jul-06,46,5,0,0,7
11,507246,6578,18-Aug-05,45,5,0,0,7,6574,24-Jun-06,46,5,0,0,7
12,507246,6578,18-Aug-05,45,5,0,0,7,6583,26-Jul-06,46,5,0,0,7
13,507246,6578,18-Aug-05,45,5,0,0,7,6567,27-Jan-07,51,6,0,0,7
14,507246,6578,18-Aug-05,45,5,0,0,7,6568,25-Aug-06,46,5,0,0,7
15,507246,6578,18-Aug-05,45,5,0,0,7,6576,18-Nov-06,46,5,0,0,7
16,507246,6578,18-Aug-05,45,5,0,0,7,6573,09-Nov-06,49,6,0,0,7
17,507246,6578,18-Aug-05,45,5,0,0,7,6566,20-Feb-06,45,5,0,0,7
18,507246,6528,20-Feb-06,45,5,0,0,7,6584,26-Jul-06,46,5,0,0,7
19,507246,6528,20-Feb-06,45,5,0,0,7,6574,24-Jun-06,46,5,0,0,7
20,507246,6528,20-Feb-06,45,5,0,0,7,6583,26-Jul-06,46,5,0,0,7
21,507246,6528,20-Feb-06,45,5,0,0,7,6567,27-Jan-07,51,6,0,0,7
22,507246,6528,20-Feb-06,45,5,0,0,7,6568,25-Aug-06,46,5,0,0,7
23,507246,6528,20-Feb-06,45,5,0,0,7,6576,18-Nov-06,46,5,0,0,7
24,507246,6528,20-Feb-06,45,5,0,0,7,6573,09-Nov-06,49,6,0,0,7
25,507246,6528,20-Feb-06,45,5,0,0,7,6566,20-Feb-06,45,5,0,0,7
26,507246,6580,19-Oct-04,36,4,0,0,7,6584,26-Jul-06,46,5,0,0,7
27,507246,6580,19-Oct-04,36,4,0,0,7,6574,24-Jun-06,46,5,0,0,7
28,507246,6580,19-Oct-04,36,4,0,0,7,6583,26-Jul-06,46,5,0,0,7
29,507246,6580,19-Oct-04,36,4,0,0,7,6567,27-Jan-07,51,6,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128842,509369,6543,12-Jun-06,0,0,0,0,0,6548,17-Jun-06,0,0,0,0,0
128843,503823,6529,02-Apr-06,0,0,0,0,0,6566,31-Mar-06,0,0,0,0,0
128844,523944,6534,30-Dec-05,0,0,0,0,0,6579,25-Aug-06,0,0,0,0,0
128845,488436,6534,26-Oct-06,0,0,0,0,0,6583,26-Jul-06,0,0,0,0,0
128846,488436,6534,26-Oct-06,0,0,0,0,0,6556,25-Oct-06,0,0,0,0,0
128847,488436,6534,26-Oct-06,0,0,0,0,0,6573,24-Oct-06,0,0,0,0,0
128848,488436,6534,26-Oct-06,0,0,0,0,0,6584,27-Jul-06,0,0,0,0,0
128849,488436,6534,26-Oct-06,0,0,0,0,0,6582,27-Jul-06,0,0,0,0,0
128850,508729,6543,11-Nov-06,0,0,0,0,0,6576,14-Nov-06,0,0,0,0,0
128851,508729,6543,11-Nov-06,0,0,0,0,0,6559,19-Dec-06,0,0,0,0,0
128852,506820,6534,11-Aug-06,0,0,0,0,0,6574,10-Aug-06,0,0,0,0,0
128853,506820,6534,11-Aug-06,0,0,0,0,0,6551,20-Sep-06,0,0,0,0,0
128854,506820,6534,11-Aug-06,0,0,0,0,0,6584,13-Jul-06,0,0,0,0,0
128855,522182,6562,11-Mar-05,0,0,0,0,0,6576,06-Sep-06,0,0,0,0,0
128856,522182,6562,11-Mar-05,0,0,0,0,0,6579,08-Sep-06,0,0,0,0,0
128857,522182,6562,11-Mar-05,0,0,0,0,0,6551,08-Sep-06,0,0,0,0,0
128858,489743,6538,31-Jul-04,0,0,0,0,0,6556,24-Oct-06,0,0,0,0,0
128859,514807,6528,24-Apr-06,0,0,0,0,0,6556,16-Nov-06,0,0,0,0,0
128860,514807,6528,24-Apr-06,0,0,0,0,0,6566,03-Apr-06,0,0,0,0,0
128861,514807,6528,24-Apr-06,0,0,0,0,0,6551,15-Nov-06,0,0,0,0,0
128862,514807,6528,24-Apr-06,0,0,0,0,0,6576,14-Nov-06,0,0,0,0,0
128863,514807,6528,24-Apr-06,0,0,0,0,0,6550,14-Nov-06,0,0,0,0,0
128864,522897,6529,28-Mar-06,0,0,0,0,0,6566,28-Mar-06,0,0,0,0,0
128865,527548,6529,03-Mar-06,0,0,0,0,0,6556,20-Nov-06,0,0,0,0,0
128866,527548,6529,03-Mar-06,0,0,0,0,0,6566,04-Mar-06,0,0,0,0,0
128867,504873,6543,13-Jun-06,0,0,0,0,0,6583,13-Jun-06,0,0,0,0,0
128868,504873,6543,13-Jun-06,0,0,0,0,0,6550,01-Nov-06,0,0,0,0,0
128869,504873,6543,13-Jun-06,0,0,0,0,0,6574,12-Jun-06,0,0,0,0,0
128870,504873,6543,13-Jun-06,0,0,0,0,0,6548,13-Jun-06,0,0,0,0,0
128871,504873,6543,13-Jun-06,0,0,0,0,0,6576,30-Oct-06,0,0,0,0,0